html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: white;
}

/* navigation bar positioning */
.nav {
  background-color: rgb(241, 239, 239);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navright{
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0;
  font-size: 0.5em;
  font-color: black;
  list-style-type: none;
}

.nav a {
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: right;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* Change the color of links on hover */
.nav a:hover {
  color: rgb(0, 132, 255);
}

.cats {
  width: 27em;
  border: 0.1em solid lightgray;
  margin: 1em 1em 0em 1em;
}

.pins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pin {
  display:flex;
  flex-direction: column;
  max-width: 40em;
  max-height: 40em;
}

.imagetext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 1em 0em 1em;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1em;
}

.light-text, 
.imagetext #id {
  color: grey;
}

.imagetext #name {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.user {
  width: 2em;
  border: none;
  margin: 0em 0.3em 0em 0em;
}

.logo {
  width: 12em;
  margin-left: 1em;
}

.footer {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em 1em 1em;
  border-top: 1px solid lightgray;
  padding: 2em;
  width: 100%;
}
